img
{
    float: left;
}
body
{
    max-width: 600px;
    margin: auto;
    background-color: #6fb4c9;
}
.one_image
{
    float: right;
}
.two_image
{
    float: left;
}
p
{
    font-size: 20px;
}
h1
{
    text-align: center;
}